<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Dashboard - CRM</title>
  <link th:href="@{css/simple-datatables.min.css}" rel="stylesheet" />
  <link th:href="@{css/styles.css}" rel="stylesheet" />
  <script th:src="@{js/fontawesome.min.js}" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<!-- ======= Header ======= -->
<th:block th:replace="layouts/header :: header">
  Static header for prototyping purposes only
</th:block>

<div id="layoutSidenav">

  <!-- ======= Sidebar ======= -->
  <th:block th:replace="layouts/side-bar :: sidemenu">
    Static header for prototyping purposes only
  </th:block>

  <div id="layoutSidenav_content">

    <th:block layout:fragment="content">
      Static content for prototyping purposes only
    </th:block>

    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Your Website 2023</div>
          <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
<script th:src="@{js/bootstrap.bundle.min.js}"></script>
<script th:src="@{js/scripts.js}"></script>
<script th:src="@{js/chart.min.js}"></script>
<script th:src="@{assets/demo/chart-area-demo.js}"></script>
<script th:src="@{assets/demo/chart-bar-demo.js}"></script>
<script th:src="@{js/simple-datatables.min.js}" crossorigin="anonymous"></script>
<script th:src="@{js/datatables-simple-demo.js}"></script>
</body>
</html>