<!DOCTYPE html>
<html xml:lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title th:text="${formTitle}"></title>
</head>

<body>

<main layout:fragment="content" >
    <div class="container-fluid px-4">

        <h1 class="mt-4" th:text="${formTitle}">Dashboard</h1>
        <div th:if="${Message!= null}" class="alert alert-success" role="alert">
            <span th:text="${Message}"></span>
        </div>

        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active" th:text="${formTitle}">Dashboard</li>
        </ol>

        <div class="card mb-4">
            <div class="card-header">
                <a class="btn btn-success" th:href="@{/booking/show-form}">
                    <i class="fas fa-plus me-1"></i>
                    New Booking
                </a>
            </div>
            <div class="card-body">
                <form method="get">
                    <div class="row mb-3">
                        <div class="col-5 col-lg-5">
                            <input type="date" class="form-control" name="dateFrom">
                        </div>
                        <div class="col-5 col-lg-5">
                            <input type="date" class="form-control" name="dateTo">
                        </div>
                        <div class="col-5 col-lg-2">
                            <button type="submit" class="btn btn-success">Search</button>
                        </div>
                    </div>
                </form>
                <table id="datatablesSimple" class="datatable-table">
                    <thead class="table-dark">
                    <tr>
                        <th>Serial</th>
                        <th>Customer</th>
                        <th>Car Details</th>
                        <th>Pickup</th>
                        <th>Destination</th>
                        <th>Booking Date</th>
                        <th>Days Booked</th>
                        <th>End Date</th>
                        <th>Charge</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <th:block th:each="booking, s: ${bookings}">
                        <tr th:class="${today > booking.endDate} ? 'table-secondary':'table-success'">
                            <td>
                                [[${s.count}]]
                            </td>
                            <td>
                                Name: [[${booking.customer.name}]]
                                <br>
                                Contact: [[${booking.customer.contact}]]
                                <br>
                                E-mail: [[${booking.customer.email}]]
                            </td>
                            <td>
                                Car: [[${booking.car.make}]] [[${booking.car.model}]] [[${booking.car.year}]]
                                <br>
                                Reg: [[${booking.car.registration}]]
                            </td>
                            <td>
                                [[${booking.pickup}]]
                            </td>
                            <td>
                                [[${booking.destination}]]
                            </td>
                            <td>
                                [[${booking.bookedFor}]]
                            </td>
                            <td>
                                [[${booking.daysBooked}]]
                            </td>
                            <td>
                                [[${booking.endDate}]] <br>
                            </td>
                            <td>
                               TK. [[${booking.charge}]]
                            </td>

                            <td>
                                <a style="text-decoration:none" class="btn btn-primary btn-sm h4 mr-3" role="button" th:href="@{'/booking/edit/' +${booking.id}}">
                                    <i class="fas fa-edit me-1"></i>
                                </a>
                                <a class="btn btn-danger btn-sm h4" role="button" data-bs-toggle="modal" th:attr="data-bs-target='#deleteModal-'+ ${booking.id}">
                                    <i class="fas fa-trash me-1"></i>
                                </a>
                                <div class="modal fade" th:attr="id='deleteModal-'+ ${booking.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel"><i class="fa-solid fa-triangle-exclamation"></i> Delete Booking</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p class="lead">Do you want to delete booking for '[[${booking.customer.name}]]'?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <form th:action="@{'/booking/delete/' +${booking.id}}" th:method="delete">
                                                    <button class="btn btn-danger" type="submit" id="submitButton">Yes</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
    </div>
    <script></script>
</main>
</body>
</html>