<!DOCTYPE html>
<html xml:lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title th:text="${formTitle}"></title>
</head>

<body>

<main layout:fragment="content">
    <div class="container-fluid px-4">

        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                DataTable Example
            </div>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Registration</th>
                    <th>Availability</th>
                    <th>Rate (Per Day)</th>
                </tr>
                </thead>
                <th:block th:each="car, s: ${cars}" th:if="${car.availability}==true">
                    <tr>
                        <td>
                            [[${s.count}]]
                        </td>
                        <td>
                            [[${car.make}]]
                        </td>
                        <td>
                            [[${car.model}]]
                        </td>
                        <td>
                            [[${car.year}]]
                        </td>
                        <td>
                            [[${car.registration}]]
                        </td>
                        <td>
                            <th:block th:text="${car.availability} ? 'Yes' : 'No'"></th:block>
                        </td>
                        <td>
                            Tk. [[${car.rate}]]
                        </td>
                </th:block>
            </table>
        </div>
    </div>
</main>
</body>
</html>